div#content{
    min-width: 640px; 
    min-height: 750px;
}
table#fieldTable{
    table-layout: fixed;
    word-wrap: break-word;
}

.minwidth{
    width: 640px;
}

.xscroll{
    overflow-x:scroll; 
    white-space: nowrap;
}
